@import "bulma";


// =================================
// BEGIN HEADER FOOTER AND CONTAINERS
html {
  background-color: #373F51;
}

.container {
  width: 600px;
  margin: 25px auto;
}

.wrapper {
  // margin: 50px 0;
}

.nav {
  margin-top: 20px;
  padding-top: 10px;
  // padding-bottom: 10px;
  background-color: #2A99CF;
  border-bottom: solid grey 1px;
}

footer {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.pad-left {
    padding-left: 20px;
  }

  .pad-right {
      padding-right: 15px;
    }

// END HEADER FOOTER AND CONTAINERS
// ================================
// BEGIN FORM VALIDATION FORMATTING
.contact-form input.ng-invalid.ng-touched {
  border-color: #FA787E;
}
.contact-form input.ng-valid.ng-touched {
  border-color: #78FA89;
}
.alert {
  display: inline;
  color: red;
  font-size: 16px;
  font-weight: 200;
  text-shadow: 0px 0px 5px #ff4d4d;
}
.button {
  background-color: #88C470;

  font-weight: 500;
  font-size: 18px;
  color: white;
  height: 60px;
  width: 120px;
}

// END FORM VALIDATION FORMATTING
// ==============================
//     BEGIN HOME CONTACT STYLING

.contact-img {
  border-radius: 50%;
  border: solid $grey .5px;
}

article{
  background-color: #f7f7f9;
  padding: 10px;
  margin: 0px;
  transition: all .5s;
  border-top: solid grey 1px;
}

#contact {
  margin-top: 0px;

}

article:hover {
  background-color: white;
    box-shadow: inset 0 0 10px #2A99CF, 0 0 20px #2A99CF;
    transition: all .1s;
}

hr{
  margin: 5px;
}
h1 {
  font-size: 22px;
  color: white;
  padding-bottom: 0px;
  margin-bottom: 0px;
}


// BEGIN DETAIL FORMATTING

.detail-container {
  padding: 10px;
  padding-left: 34%;
  border: solid black 1px;
  background-color: white;

    span {
      padding: 10px;
    }
  h2 {
    padding: 10px;
  }
}

// END DETAIL FORMATTING
