
<!--
<div class="card" ng-repeat="contact in vm.contacts">
  <a href="/#/detail/{{ contact._id }}">
    <div class="card-image">
      <figure class="image is-4by3">
        <img ng-src="{{ contact.image }}" alt="{{ contact.name }}">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <p class="title is-5">{{ contact.name }}</p>
      </div>
    </div>
  </a>
</div> -->


  <article class="media" ng-repeat="contact in vm.contacts">
    <figure class="media-left">
      <p class="image">
        <img class="contact-img" src="https://randomuser.me/api/portraits/thumb/men/80.jpg">
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <br>
  <strong>{{ contact.name }}</strong>  |  <small>{{ contact.email }}</small>
        </p>
      </div>
    </div>
    <div class="media-right">
    </div>
  </article>
