<nav class="nav">
  <div class="nav-left">
    <a class="nav-item" href="/#/">
      <h5 class="title pad-left">Unified Contacts</h5>
    </a>
  </div>
  <div class="nav-right">
    <a class="nav-item is-tab" href="/#/"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
    <a class="nav-item is-tab pad-right" href="/#/add"><i class="fa fa-user-plus fa-2x" aria-hidden="true"></i></a>
  </div>
</nav>

<div class="wrapper">
  <div ui-view></div>
</div>

<footer>
  &copy 2016 | Unified Contacts
</footer>
